/* css styles */
.container-fluid {
    max-width: 160%; /* Adjust this value to make the page as wide as you like */
    margin: auto;
}

.page-content {
    padding-left: 2rem; /* Adjust the padding as needed */
    padding-right: 2rem;
}
